#a{
    font-size: 15px;
}

#b{
    font-size: 15px;
    line-height: 1.5cm;
    letter-spacing: 3mm;
    word-spacing: 1cm;

}

#c{
    font-size: 15px;
    line-height: 1cm;
}

#d{
    font-size: 1.5em;
    color: red;
    line-height: 1cm;
}

h2{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}


.font-style{
    font-weight: bold;
}