body {
    background-color: #F9F8F8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#a{
    color: green;
}

.wall{
    text-align: center;
}

#b{
    font-style: italic;
    text-shadow: #640000 1px 0 10px ;
    color: #dddd03;
}

.strong{
    font-weight: bolder;
}

#f{
    color: #640000;
    text-decoration: none;
}

#g{
    color: orangered;
}

.header{
    font-style: italic;
    color:dimgray;
}

.box{
    color: #777;
    background-color:#eee;
}

.section{
    background-color:#eee;
}

#l{
    color:#640000;
    text-transform:uppercase;
}

.box-color{
    color:#eee;
}

.item-1{
    background-color:lightgray;
}

.item-2{
    background-color:lightgreen;
}

.item-3{
    background-color:lightpink;
}

.item-4{
    background-color:lightsalmon;
}

.item-5{
    background-color: lightseagreen;
}

.item-6{
    background-color: lightskyblue;
}
